<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/dankStyles.css">
</head>

<body>

  <% for (user of allUsers) { %>
  <div>
    <h1>
      Name: <%= user.name %>
    </h1>
    <h3>
      Email: <%= user.email %>
    </h3>

    <h3>Interests:</h3>
    <ul>
      <% for (interest of user.interests) { %>
      <li><%= interest %></li>
      <% } %>
    </ul>
    <hr>
  </div>
  <% } %>

</body>

</html>