<div>
  <h1>Rate My Cakes!</h1>

    <p>Baker Name:</p>
    <input type="text" name='baker' [(ngModel)]="newCake.baker"><br>
    <p>Img URL:</p>
    <input type="text" name='img' [(ngModel)]="newCake.img"><br>
    <button (click)=createCake()>Create Cake</button>

</div>

<div>
  <div *ngFor="let cake of cakes">

      <img src="{{cake.img}}" (click)="displayCake(cake)" style="height: 150px; width: 150px">
      <app-cake [oneCake]="cake"></app-cake>

  </div>
</div>

<div>
  <app-show *ngIf="showCake" [oneCake]="showCake"></app-show>
</div>