<h1>New Task</h1>
<p>newTask.title (property in app.component): {{ newTask.title }}</p>
<form (submit)="handleTaskSubmit()">
  <div>
    <label>Title: </label>
    <input type="text" name="title" [(ngModel)]="newTask.title">
  </div>
  <div>
    <label>Description: </label>
    <input type="text" name="description" [(ngModel)]="newTask.description">
  </div>
  <div>
    <label>Completed: </label>
    <input type="checkbox" name="completed" [(ngModel)]="newTask.completed">
  </div>
  <button>Submit</button>
</form>